section.potions(data-script="Potions")
	div.container
		h1 Potions

		div.columns.is-multiline
			div.column.is-4.has-text-centered
				div.potion
					img(
						src="img/aging-potion.png"
						alt="Aging potion illustrative image"
						title="Aging potion illustrative image"
					)

					p Aging - <span class="price">$29.99</span>

			div.column.is-4.has-text-centered
				div.potion
					img(
						src="img/bulgeye-potion.png"
						alt="Bulgeye potion illustrative image"
						title="Bulgeye potion illustrative image"
					)

					p Bulgeye - <span class="price">$19.99</span>

			div.column.is-4.has-text-centered
				div.potion
					img(
						src="img/dragon-tonic.png"
						alt="Dragon tonic illustrative image"
						title="Dragon tonic illustrative image"
					)

					p Dragon tonic - <span class="price">$64.99</span>

			div.column.is-4.has-text-centered
				div.potion
					img(
						src="img/love-potion.png"
						alt="Love potion illustrative image"
						title="Love potion illustrative image"
					)

					p Love Potion - <span class="price">$29.99</span>

			div.column.is-4.has-text-centered
				div.potion
					img(
						src="img/polyjuice-potion.png"
						alt="Polyjuice potion illustrative image"
						title="Polyjuice potion illustrative image"
					)

					p Polyjuice Potion - <span class="price">$99.99</span>

			div.column.is-4.has-text-centered
				div.potion
					img(
						src="img/sleeping-draught.png"
						alt="Sleeping draught illustrative image"
						title="Sleeping draught illustrative image"
					)

					p Sleeping Draught - <span class="price">$14.99</span>